In [3]:
import numpy as np
import pandas as pd

In [4]:
flowers = pd.Series([2, 3, 5, 4], index=['lily', 'rose', 'daisy', 'lotus'])

In [5]:
flowers['daisy']

5

In [6]:
demo_matrix = np.array(([13,35,74,48], [23,37,37,38], [73,39,93,39]))

In [7]:
demo_matrix[:, (1,2)]

array([[35, 74],
       [37, 37],
       [39, 93]])

In [8]:
score = [10, 15, 20, 25]

In [9]:
pd.Series(data=score, index = ['a','b','c','d'])

a    10
b    15
c    20
d    25
dtype: int64

In [10]:
demo_array = np.arange(10,21)

subset_demo_array = demo_array[0:7]

subset_demo_array[:]= 101

subset_demo_array

array([101, 101, 101, 101, 101, 101, 101])

In [11]:
data = {'prodID': ['101', '102', '103', '104', '104'],

                    'prodname': ['X', 'Y', 'Z', 'X', 'W'],

                     'profit': ['2738', '2727', '3497', '7347', '3743']}

dataframe = pd.DataFrame(data)

dataframe

grouped_data = dataframe.groupby('prodID')

grouped_data.max()

       prodname profit
prodID
101           X   2738
102           Y   2727
103           Z   3497
104           X   7347

In [12]:
s1 = pd.Series(['a', 'b'])

In [13]:
s2 = pd.Series(['c', 'd'])

In [15]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [17]:
pd.concat([s1+ s2])

0    ac
1    bd
dtype: object

In [18]:
demo_matrix = np.array(([13,35,74,48], [23,37,37,38],[73,39,93,39]))

demo_matrix[2,3]

39

In [23]:
dataframe

  prodID prodname profit
0    101        X   2738
1    102        Y   2727
2    103        Z   3497
3    104        X   7347
4    104        W   3743