In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("./ml-100k/u.data", sep="\t", names=["userID", "itemID", "rating", "timestamp"])
data.head()

   196  242  3  881250949
0  186  302  3  891717742
1   22  377  1  878887116
2  244   51  2  880606923
3  166  346  1  886397596
4  298  474  4  884182806

In [ ]:
item = pd.read_csv("./ml-100k/u.item")
user = pd.read_csv("./ml-100k/u.info")